{% extends 'store/main.html' %}
{% load static %}
{% block content %}


<div class = "main">

    <div class = "grid_box">

        <div class = "main__container">

            <h1 class = "main_title"> Sam's Fine Engraving</h1>
            <h2 class = "lower_title">Who are we? </h2>
            <p class = "description_title">
                
                When it comes to gifts, we can engrave names and logo on precious metals, leather, wood, marble, stainless steel, brass, glass and other materials. Essentially, we can engrave anything on any material — even the rounded surface of a picture frame or a wine bottle.
    
                Our huge inventory of materials in stock combined with state-of-the-art technology enables us to provide our customers with a quality product at competitive prices with quick turnaround. From creative design through solid construction, our professional staff guarantees a superior job. We have the most advanced computerized mechanical and laser engravers.
            </p>
            <button class = "learn_more"> Learn More </button>
        </div>
    
        <div class = "images"> 
            <img src = "static\images\frontCoverEngraving.jpeg"> 
        </div>

    </div>


    <div class = "Advertisement">

        <div class = "display_Section">

            <p> Why Choose Us?</p>

        </div>

        <div class = "reasons_choose">

            <div class = "reasons_to_choose">
                <div class = "images_for_reasons">
                    <img src="static\images\exclusiveInventory.jpeg">
                </div>
                <p class = "title_reasons">
                    <strong>
                        Extensive Inventory
                    </strong>
                </p>

                <p>
                    We boast one of the largest inventories for an engraving company with multiple facilities and many workers. 
                </p>

            </div>

            <div class = "reasons_to_choose">
                <div class = "images_for_reasons">
                    <img class = "aT" src="static\images\advancedTech.jpg">
                </div>
                <p class = "title_reasons">
                    <strong>
                        Advanced Technology
                    </strong>
                </p>

                <p>
                    Our company utilizes pristine head of the state technology which boasts high accuracy of engraving. 
                </p>

            </div>

            <div class = "reasons_to_choose">
                <div class = "images_for_reasons">
                    <img src="static\images\cups_Reach.JPG">
                </div>
                <p class = "title_reasons">
                    <strong>
                        Our Customers 
                    </strong>
                </p>

                <p>
                    We've served hundreds of customers. Our reach has expanded to multiple cities including the Bay Area
                </p>
            </div>
        </div>
        

    </div>

    <div class = "product_container">

        <div class = "main_packages">
            <div class = "packages_individual-text">
                <p>Packages</p>

                <button>
                    Shop Now
                </button>

            </div>

            <img src = "static\images\packages_display.jpeg">

        </div>

        <div class = "main_products">
            <div class = "products_individual-text">
                <p>Individual Products</p>

                <button>
                    Shop Now
                </button>

            </div>
            
            <img src = "static\images\IndividualProduct.png">
        </div>

    </div>


    <div class = "grid_box">

        <div class = "main__container">

            <h1 class = "main_title"> Our Engraving Process</h1>
            <h2 class = "lower_title">Engravement </h2>
            <p class = "description_title">
                
                When it comes to gifts, we can engrave names and logo on precious metals, leather, wood, marble, stainless steel, brass, glass and other materials. Essentially, we can engrave anything on any material — even the rounded surface of a picture frame or a wine bottle.
    
                Our huge inventory of materials in stock combined with state-of-the-art technology enables us to provide our customers with a quality product at competitive prices with quick turnaround. From creative design through solid construction, our professional staff guarantees a superior job. We have the most advanced computerized mechanical and laser engravers.
            </p>
        </div>
    
        <div class = "images"> 
            <img src = "static\images\bottleEngravement.jpeg"> 
        </div>
    </div>

    <div class = "grid2_box">

        <div class = "images"> 
            <img src = "static\images\list_of_options.png"> 
        </div>

        <div class = "main__container">


            <h2 class = "lower_title">Customization </h2>
            <p class = "description_title">
                
                When it comes to gifts, we can engrave names and logo on precious metals, leather, wood, marble, stainless steel, brass, glass and other materials. Essentially, we can engrave anything on any material — even the rounded surface of a picture frame or a wine bottle.
    
                Our huge inventory of materials in stock combined with state-of-the-art technology enables us to provide our customers with a quality product at competitive prices with quick turnaround. From creative design through solid construction, our professional staff guarantees a superior job. We have the most advanced computerized mechanical and laser engravers.
            </p>
        </div>
    
    </div>

    <div class = "Advertisement2">

        <div class = "display_Section2">

            <p class = "display2_title"> Let Our Customers Speak For Us</p>
            <p class = "stars_display">
                &#9733;
                &#9733;
                &#9733;
                &#9733;
                &#9733;
            </p>
            <p>From 200 reviews

            </p>


        </div>

        <div class = "reasons_choose2">

            <div class = "reasons_to_choose2">
                <p>
                    ★ ★ ★ ★ ★
                </p>
                <p>
                    <strong>
                        Excellent Product!
                    </strong>
                    
                </p>

                <p>
                    Product was Fantastic! Really reccomend to everyone. Excellent engraving and fast shipping.  
                </p>

                <p>
                    Billy Bob Joe &#183; 6 months ago
                </p>

                <img src="static\images\engravingproduct.jpg">

            </div>

            <div class = "reasons_to_choose2">
                <p>
                    ★ ★ ★ ★ ★
                </p>
                <p>
                    <strong>
                        Excellent Product!
                    </strong>
                    
                </p>

                <p>
                    Product was Fantastic! Really reccomend to everyone. Excellent engraving and fast shipping.  
                </p>

                <p>
                    Billy Bob Joe &#183; 6 months ago
                </p>

                <img src="static\images\engravingproduct.jpg">

            </div>

            <div class = "reasons_to_choose2">
                <p>
                    ★ ★ ★ ★ ★
                </p>
                <p>
                    <strong>
                        Excellent Product!
                    </strong>
                    
                </p>

                <p>
                    Product was Fantastic! Really reccomend to everyone. Excellent engraving and fast shipping.  
                </p>

                <p>
                    Billy Bob Joe &#183; 6 months ago
                </p>

                <img src="static\images\engravingproduct.jpg">
            </div>
        </div>
        

    </div>

</div>



    


{% endblock content %}