body{
	background-color: hsl(0, 0%, 100%);
	padding-bottom: 200px;



}

h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.thumbnail{
	width: 100%;
	height: 200px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

.product{
	border-radius: 0 0 4px 4px;
}

.bg-dark{
	background-color: #4f868c!important;
}

#cart-icon{
	width:25px;
	display: inline-block;
	margin-left: 15px;
}

#cart-total{
	display: inline-block;
	text-align: center;
	color:#fff;
	/* background-color: red; */
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.btn{
	border-radius: 0;
}

.row-image{
	width: 100px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-row{
	display: flex;
    align-items: stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
	

}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}


.hidden{
	display: none!important;
}


.row-container{
	width:75%
}

/* Main Page Section */

.main {
	display: block;
}

.container12 {
	padding-right: 0;
	margin-top: 20px;
	margin-right: 40px;
	margin-left: 40px;
	display: flex;
	justify-content: center;
	align-items: center;

}


.grid_box {
	display: grid;
	grid-template-columns: 1fr 500px;
	column-gap: 20px;
}

.main_title {
	/* background-color: red; */
	font-size: 60px;

}

.images img, 
.main_products img,
.main_packages img {
	width: 400px;
	margin-left: 40px;

}

.learn_more {
	margin-left: 30px;
	margin-top: 30px;
	border-radius: 10px;
	height: 40px;
	background-color:
}



.description_title {
	margin-left: 30px;
}

.lower_title {
	font-size: 40px;
	margin-left: 30px;

}

.product_container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 50px;
	height: 400px;
	column-gap: 20px;
	background-color: lightblue;
}

 
.main_products {
	border-color: black;
	border-width: 1px;
	border-style: solid;
	display: grid;
	grid-template-columns: 1fr 380px;

}

.main_packages {
	border-color: black;
	border-width: 1px;
	border-style: solid;
	display: grid;
	grid-template-columns: 1fr 400px;
}

.main_packages p {
	margin-left: 40px;
	margin-top: 60px;
	font-size: 45px;
}

.main_products p {
	margin-left: 40px;
	font-size: 45px;
	margin-top: 130px;
	width: 50%;
}

.main_products img {
	width: 380px;
	margin-left: 0px;
}

.products_individual-text button {
	margin-top: 20px;
	margin-left: 45px;
	font-size: 24px;
}

.packages_individual-text button {
	font-size: 24px;
	margin-top: 20px;
	margin-left: 45px;


}

.main_packages img {
	margin-top: 90px;
	margin-left: 0px;
}

.Advertisement {
	/* background-color: lightcoral; */
	margin-top: 50px;
	height: 470px;
	position: relative;
	
	/*
	background-image: url('../images/testerimage.jpg');
	background-size: cover;
	background-repeat: no-repeat;

	*/

}

.display_Section {
	/* background-color: red; */
	margin-top: 10px;
	text-align: center;
	
}

.display_Section p {
	font-size: 44px;
}

.reasons_choose {
	display: flex;
	/* background-color: green; */
	justify-content: space-between;
	margin-left: 100px;
	margin-right: 100px;
	
}

.reasons_to_choose {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	width: 300px;
}

.images_for_reasons img{
	width: 150px;
	height: 150px;
	object-fit: cover;
	border-radius: 75px;
	margin-left: 75px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.title_reasons {
	text-align: center;
}

.reasons_to_choose p{
	text-align: center;
	flex: 1;
}

.reasons_to_choose button {
	margin-left: 100px;
	align-items: flex-end;
}

.grid2_box {
	display: grid;
	grid-template-columns: 500px 1fr;
	column-gap: 20px;
	/* background-color: cyan; */
}

.grid2_box h2{
	margin-top: 30px;
}




.Advertisement2 {
	/* background-color: lightcoral; */
	margin-top: 50px;
	height: 500px;
	position: relative;
	

}

.display_Section2 {
	/* background-color: red; */
	margin-top: 10px;
	text-align: center;
	
}

.display2_title {
	font-size: 44px;
	margin-bottom: 0px;
}

.reasons_choose2 {
	display: flex;
	/* background-color: green; */
	justify-content: space-between;
	margin-left: 100px;
	margin-right: 100px;
	padding-bottom: 10px;
	
}



.stars_display {
	font-size: 30px;
	margin-bottom: 0px;
}

.reasons_to_choose2 {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	width: 300px;
}

.images_for_reasons2 img{
	width: 150px;
	height: 150px;
	object-fit: cover;
	border-radius: 75px;
	margin-left: 75px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.title_reasons2 {
	text-align: center;
}

.reasons_to_choose2 p{
	text-align: center;
	flex: 1;
}

.reasons_to_choose2 img {
	width: 200px;
}

/* Pop out CSS */

.modal2 {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0); /*change scale to 0 */
	transition: 200ms ease-in-out;
	border: 1px solid black;
	border-radius: 10px;
	z-index: 10;
	background-color: white;
	width: 800px;
	max-width: 80%;
}

.modal2.active {
	transform: translate(-50%, -50%) scale(1);
}

.model-header {
	padding: 10px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid black;
}

.model_title {
	font-size: 1.25rem;
	font-weight: bold;
}

.close-button {
	cursor: pointer;
	border: none;
	outline: none;
	background: none;
	font-size: 1.25rem;
	font-weight: bold;
}

.modal-body {
	padding: 10px 15px;
}

#overlay {
	position: fixed;
	transition: 200ms ease-in-out;
	opacity: 0; /* should be 1 */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .5);
	pointer-events: none;
}

#overlay.active {
	opacity: 1;
	pointer-events: all;
}

#ftext {
	width: 100%;
	padding-bottom: 50px;
}

.text_former {
	margin-bottom: 0px;
}

.model-body input {
	margin-bottom: 10px;
}

.text_former2 {
	display: inline;
}

#fname1 {
	width: 44%;
}

#fname2 {
	width: 44%;
}









